
/*----------------------SECTION CSS avec DISPLAY FLEX --------------------------------*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

/* We tell all items to be 100% width */
.topmenu_main, .main_Container , .aside, .footer {
    flex: 1 100%;

}


.evenementdisponible{
    position:absolute;
    top:200px;
    display: flex;
    width:300px;

}

nav{

}

.header{
    position:fixed;
    width:100%;
    top:0px;
    height:100px;
    background-color: #000;
    z-index:6;
    padding-bottom: 10px;
}

select{
    margin:30px;
}
.centeredContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_Container{
    /* -moz-box-shadow:    inset 0 0 10px #fff;
     -webkit-box-shadow: inset 0 0 10px #fff;
     box-shadow:         inset 0 0 10px #fff;*/

    position:absolute;
    margin-top: 50px;
    top:200px;
    width:100%;
    padding-top:20px;

    background-color: black;
    text-align:center;

}

.partialhome{
    margin-top: 30px;
    padding-top: 10px;
    font-family: arial;

    background: url("../images/bgimageHomesmallsize.png")no-repeat;/* center center fixed;*/
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    /* background: #5C258D; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height:220px;
    border-radius: 3px;
}


.partialhome h1{
    font-size: 63px;
    font-weight: 100;
    z-index:4;

}

#homeClock{
    position:absolute;
    top:44px;
    left:60%;
    /*top:220px;*/
   /* left:70%;*/
    z-index:3;
    opacity:0.65;
    width:680px;
}



body, html {height:100%;}
.partialhome p{
    position:relative;
    line-height: 1.5;
    text-shadow: 2px 2px 4px #000000;

    font-size: 20px;
    letter-spacing: 3px;
    /*vertical-align: bottom;*/
    align-self: flex-end;

    z-index:4;
}





.topmenu_main{

    padding-top: 5px;
    padding-bottom:25px ;
    display:  inline-flex;
    flex-direction:row;
    flex: 1 100%;
/*
    -moz-box-shadow:    inset 0 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 0 10px #fff;
    box-shadow:         inset 0 0 0 10px #fff;*/

}

#boitemenu{
    position:fixed;
    width:100%;
    z-index:10;
   /* -moz-box-shadow:    inset 0 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 0 10px #fff;
    box-shadow:         inset 0 0 0 10px #fff;*/
    padding-bottom: 3px;
   /* -moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset  0 0 10px #fff;
    box-shadow:         inset  0 0 10px #fff;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+72,ffffff+95 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 72%, #ffffff 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #000000 72%,#ffffff 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #000000 72%,#ffffff 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.titreLogin{
    position:relative;
    top:-20px;
    width:100%;
    background-color: #8e0228;
    height:30px;
}

#choixselection{
    /*display:inline-block;*/
    position:absolute;
    top:3px;
    left:27px;
    height: 40px;
    width:95px;
    /*opacity:0.5;*/

    -moz-box-shadow:    inset 0 0 5px #ffd200;
    -webkit-box-shadow: inset  0 0 5px #ffd200;
    box-shadow:         inset  0 0 5px #ffd200;
    /*background-color: #921b1a;*/
    /*background-color: #ac1416;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,6b110a+67,cf0404+100 */
   /* background: #ff3019; /* Old browsers */
   /* background: -moz-linear-gradient(top,  #ff3019 0%, #6b110a 67%, #cf0404 100%); /* FF3.6-15 */
   /* background: -webkit-linear-gradient(top,  #ff3019 0%,#6b110a 67%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
   /* background: linear-gradient(to bottom,  #ff3019 0%,#6b110a 67%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

    z-index:11;
    border-radius: 3px;
}

.login  {
    /*color:#FF4500;*/
    position:absolute;
    right:50px;
    text-align: right;
    float:right;
    z-index:12;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    margin-bottom: 40px;

}

li {
    margin-left:30px;
    float: left;
    font-size: 22px;
    font-family:sanvito-pro-display;
    z-index:15;

}

a{
    color: #9e4558;
}


li a {
    position:relative;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    /* border-radius: 3px;*/
    z-index:15;
    border-radius: 3px;
}

li a:hover {
    position:relative;
    display: block;


    /*padding: 5px 16px;*/
    /*padding: 10px 16px;*/
  /* background-color: rgb(37, 35, 38);*/
    /*border-radius: 3px;*/
    color: white;
    z-index:1;

    -moz-box-shadow:    inset 0 0 7px #fff;
    -webkit-box-shadow: inset  0 0 7px #fff;
    box-shadow:         inset  0 0 7px #fff;

}


.active {

    pointer-events:none;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    /*font-weight: bold;*/
    /*font-size: 20px;*/
    z-index:15;

}








a {
    text-decoration: none !important;
}

.alignleftdiv{

    display:inline-block;
    position:absolute;
    top:250px;
    width:20%;
    Padding:15px;


    /*
        -moz-box-shadow:    inset 0 0 10px #fff;
        -webkit-box-shadow: inset 0 0 10px #fff;
        box-shadow:         inset 0 0 10px #fff;*/


}


.ligneMauve{

    height:7px;
    -webkit-box-shadow:   0px 7px 3px  -3px rgba(146, 27, 26, 0.75);
    -moz-box-shadow:     0px 7px 3px  -3px rgba(146, 27, 26, 0.75);
    box-shadow:          0px 7px 3px  -3px rgba(146, 27, 26, 0.75);
}

.alignleftdiv h3{
    text-align: center;
}

.aligntopdiv{
    display:inline-block;
    position:inherit;
    top:5px;
}
#ajoutnoteform{
    display: none;
}

.blueborder{
    margin:10px;
    -moz-box-shadow:    inset 0 0 3px #921b1a;
    -webkit-box-shadow: inset 0 0 3px #921b1a;
    box-shadow:         inset 0 0 3px #921b1a;
}
.boiteafficheevenement{
    padding:20px;
    margin:15px;
    height:100px;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow:         inset 0 0 10px #fff;
}
.bgblacktxWhite            {background-color: #000;color: #fff;}

.bigfont{font-size: 22px;}
body                    {
    padding-top:50px;
    background-color: #000;
    color:#fff;


}

.button {
    background-color: #000; /* Green */
    border: 0px;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow:         inset 0 0 10px #fff;
}

.buttonSoft,.buttonSoft:visited {
    margin-top: 30px;
    position:relative;
    top:-5px;
    opacity:0.8;
    /*background-color: #60070c; /* Green */
    background-color: #000;
    border: 0px;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -moz-box-shadow:    inset 0 0 5px #ff9a0f;
    -webkit-box-shadow: inset 0 0 5px #ff9a0f;
    box-shadow:         inset 0 0 5px #ff9a0f;

    border-radius: 5px;
}

.buttonSoft:hover {
    margin-top: 30px;
    position:relative;
    top:-5px;
    opacity:0.8;
    background-color: #000; /* Green */
    border: 0px;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -moz-box-shadow:    inset 0 0 5px #fff;
    -webkit-box-shadow: inset 0 0 5px #fff;
    box-shadow:         inset 0 0 5px #fff;

    border-radius: 5px;
}

#dropdownchoicenote{
    padding:10px;
    background-color: #231c0a;
    border-radius: 7px;
    font-size: 25px;
    letter-spacing: 3px;

}
.hiddenOption{
    display:none;
}

#dropdownchoicenote option{
    /* font-size: 35px;*/

}

.navbar:link {text-decoration:none;}
.navbar:link.buttonSoft,.buttonSoft:visited:hover,

/*
.buttonSoft:visited{
    position:relative;
    top:-5px;
    opacity:0.8;
    background-color: #0c0a60;
    border: 0px;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -moz-box-shadow:    inset 0 0 5px #fff;
    -webkit-box-shadow: inset 0 0 5px #fff;
    box-shadow:         inset 0 0 5px #fff;

    border-radius: 5px;

}*/
.buttonlist{

    width:115px;
    position:relative;
    bottom:-20px;
    left:15px;
    opacity:0.8;
    background-color: #31123a; /* Green */
    border: 0px;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -moz-box-shadow:    inset 0 0 5px #fff;
    -webkit-box-shadow: inset 0 0 5px #fff;
    box-shadow:         inset 0 0 5px #fff;

    border-radius: 5px;

}

.container2{

    padding:10px;

    width: 100%;
    color:#fff;
    background-color: #000;
    -moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow:         inset 0 0 10px #fff;
}


.container {
    width: 100%;

}


#déconnectionButton{
    display:none;
}
#descriptionepoque{
    display: inline-block;
    color:#fff;
    width:60%;
    position:relative;

}
.divswap{display:none;}

div .ui-view {width: 100%}

.fullwidth                  {width:100%}
.inlineb                 { display: inline-block; clear:both; }

.login{

    /*
    position:absolute;
    top:15px;
    right:50px;*/
}


.middlewidth{
    position: relative;
    left:20%;
    width: 60%;
}

.insidemargin{
    padding:50px;

}
#sectionmodifiertimeline{
    margin-top: 50px;

    border-left: 5px solid #ac1416;
    border-right: 5px solid #732408;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100% ;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 5px;
    -moz-background-size: 100% 5px;
    background-size: 100% 5px;
    background-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    background-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    background-image: -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    background-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);

}

.navbar { border-radius:0; }

#loginpasconnecte{

    position:relative;
    width:400px;
    -moz-box-shadow:    inset 0 0 5px #ff0508;
    -webkit-box-shadow: inset 0 0 5px #ff0508;
    box-shadow:         inset 0 0 5px #ff0508;
}

.champlogin{

    padding:5px;
    margin:10px;
    background-color: #000;
    color:#fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 100;
    border-width:1px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: white;
   /* background-color: black !important;
    color:white!important;*/
}


.red{color:red;}


.right                      {position:relative; right:0px;margin:10px; }

.sectionfichevuesimple{
    padding:15px;
    position:relative;
    left:300px;
    width:65%;

    -moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow:         inset 0 0 10px #fff;
}

.sectionfichevuesimple h3{text-align:center;}



.sectionfichevuesimpleInner{  -webkit-box-shadow: inset  0px 7px 3px  -3px rgba(108, 119, 255, 0.75);
    -moz-box-shadow:  inset   0px 7px 3px  -3px rgba(108, 119, 255, 0.75);
    box-shadow:      inset    0px 7px 3px  -3px rgba(108, 119, 255, 0.75);

    min-height:400px;
}

.sectionfichevueavancee h3{text-align:center;}
.sectionfichevueavancee{
    padding:15px;
    position:absolute;
    left:15%;
    width:70%;
    z-index:3;
    display:none;
    background-color: #000;

    -moz-box-shadow:    inset 0 0 5px #fff;
    -webkit-box-shadow: inset 0 0 5px #fff;
    box-shadow:         inset 0 0 5px #fff;

    border-radius: 10px;
}
.closeButtonFicheAvancee{
    z-index:4;
    background-color: #000;
    position:absolute;
    top:-10px;
    right:30px;
    border-radius: 30px;
    -moz-box-shadow:    inset 0 0 3px #fff;
    -webkit-box-shadow: inset 0 0 3px #fff;
    box-shadow:         inset 0 0 3px #fff;

}
.closeButtonFicheAvancee:hover{
    z-index:4;
    background-color: #fff;
    position:absolute;
    top:-5px;
    right:30px;
    border-radius: 30px;
    -moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow:         inset 0 0 10px #fff;

}

.sectionfichevueavanceeInner{  -webkit-box-shadow: inset  0px 7px 3px  -3px rgba(146, 27, 26, 0.75);
    -moz-box-shadow:  inset   0px 7px 3px  -3px rgba(146, 27, 26, 0.75);
    box-shadow:      inset    0px 7px 3px  -3px rgba(146, 27, 26, 0.75);

    min-height:400px;
    border-radius: 20px;
}
.sectionAdmin{
    /* display: none;*/

}



.menuconnecte{
    display:none;
}

.selectionevenementdisponible{
    position:relative;
    z-index: 3;
    margin:5px;
    padding:10px;
    -moz-box-shadow:    inset 0 0 10px #4b7bff;
    -webkit-box-shadow: inset 0 0 10px #4b7bff;
    box-shadow:         inset 0 0 10px #4b7bff;

    cursor: pointer;
}

.selectedEvenementdisponible{
    position:relative;
    z-index: 3;
    cursor: pointer;
    background-color: #31123a;

    margin:5px;
    padding:10px;
    -moz-box-shadow:    inset 0 0 15px #7b2eff;
    -webkit-box-shadow: inset 0 0 15px #7b2eff;
    box-shadow:         inset 0 0 15px #7b2eff;


}
/*
 *  STYLE 2
 */

#style-4scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-4scrollbar::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-4scrollbar::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}





.smallx-axemargin10{
    margin-left: 10px;
    margin-right:10px;
}
.smallcase{
    height:20px;

}
.submit{
    margin-top: 20px;
}

.smallfont              {font-size: 15px; }


.textleft{
    text-align: left!important;
    padding:15px;
}
#timeline-list              { margin-bottom:30px; }

.topmarge{margin-top: 15px;}

.undertopmenu{
    position:relative;
    top:-20px;
    left:0px;
}

#vousetesconnecte{
    display:none;
    text-align: center;
}

.vuesimple_evenmentliste{
    -webkit-box-shadow: inset  0px 7px 3px  -3px rgba(153, 102, 255, 0.75);
    -moz-box-shadow:  inset   0px 7px 3px  -3px rgba(153, 102, 255, 0.75);
    box-shadow:      inset    0px 7px 3px  -3px rgba(153, 102, 255, 0.75);



    padding: 15px;
    margin-top: 20px;
    height:200px;
    overflow-y: auto;
    overflow-x:hidden;

    text-align: justify;
    letter-spacing: 3px;

    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.whiteBorderShadow{
    width: 100%;
    -moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow:         inset 0 0 10px #fff;
}
.yellow{
    color:yellow;
}










